In [ ]:
! pip install  transformers

In [ ]:
from transformers import pipeline
table_qa = pipeline("table-question-answering" )

queries = ["What's the topic in chapter 4?" ,
            "What is the total number of pages?" ,
            "On which page does the chapter about question-answering start?" ,
            "How many chapters have more than 20 pages?" ]

No model was supplied, defaulted to google/tapas-base-finetuned-wtq and revision 69ceee2 (https://huggingface.co/google/tapas-base-finetuned-wtq).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [ ]:
import pandas as pd
book_data = [
 {"chapter" : 0, "name" : "Introduction" , "start_page" : 1, "end_page" : 11},
 {"chapter" : 1, "name" : "Text classification" , "start_page" : 12,
 "end_page" : 48},
 {"chapter" : 2, "name" : "Named Entity Recognition" , "start_page" : 49,
 "end_page" : 73},
 {"chapter" : 3, "name" : "Question Answering" , "start_page" : 74,"end_page" : 120},
 {"chapter" : 4, "name" : "Summarization" , "start_page" : 121,
 "end_page" : 140},
 {"chapter" : 5, "name" : "Conclusion" , "start_page" : 141,
 "end_page" : 144}
]

table = pd. DataFrame(book_data)
table['number_of_pages' ] = table['end_page' ] - table['start_page' ]
table = table. astype(str)
table

  chapter                      name start_page end_page number_of_pages
0       0              Introduction          1       11              10
1       1       Text classification         12       48              36
2       2  Named Entity Recognition         49       73              24
3       3        Question Answering         74      120              46
4       4             Summarization        121      140              19
5       5                Conclusion        141      144               3

In [ ]:
preds = table_qa(table, queries)
preds

[{'answer': 'Summarization',
  'coordinates': [(4, 1)],
  'cells': ['Summarization'],
  'aggregator': 'NONE'},
 {'answer': 'SUM > 10, 36, 24, 46, 19, 3',
  'coordinates': [(0, 4), (1, 4), (2, 4), (3, 4), (4, 4), (5, 4)],
  'cells': ['10', '36', '24', '46', '19', '3'],
  'aggregator': 'SUM'},
 {'answer': 'AVERAGE > 74',
  'coordinates': [(3, 2)],
  'cells': ['74'],
  'aggregator': 'AVERAGE'},
 {'answer': 'COUNT > 1, 2, 3',
  'coordinates': [(1, 0), (2, 0), (3, 0)],
  'cells': ['1', '2', '3'],
  'aggregator': 'COUNT'}]

In [ ]:

preds = table_qa(table, queries)

for query, pred in zip(queries, preds):
  print(query)
  if pred["aggregator" ] == "NONE" :
    print("Predicted answer: " + pred["answer" ])
  else:
    print("Predicted answer: " + pred["answer" ])
  
  print('=' *50)

What's the topic in chapter 4?
Predicted answer: Summarization
==================================================
What is the total number of pages?
Predicted answer: SUM > 10, 36, 24, 46, 19, 3
==================================================
On which page does the chapter about question-answering start?
Predicted answer: AVERAGE > 74
==================================================
How many chapters have more than 20 pages?
Predicted answer: COUNT > 1, 2, 3
==================================================